/* Start of PlayerSelector css */
@font-face {
  font-family: myFirstFont;
  src: url(../asset/ModernWarfare-8MM6z.ttf);
}

body {
  background-color: black;
  font-family: myFirstFont;
  width: 100%;
  height: 72.3rem;
  position: relative;
}

.PlayerSelector {
  border: 2px solid yellow;
  width: 97.5%;
  gap: 3rem;  
  padding: 1rem;
  display: flex; /* Change this to flex */
  justify-content: center; /* Add this line to center the items horizontally */
  align-items: center; /* Add this line to center the items vertically */
  flex-wrap: wrap;
  overflow: auto;
}

.player{
  border: 2px solid yellow;
  width: 30rem;
  height: 40rem;
}


