body {
  background-color: black;
  color: white;
  width: 100%;
  height: 72.3rem;
  position: relative;
}

.teamHeading{
  font-size: 2rem;
  /* border: 2px solid yellow; */
  width: 97.5%;
  padding: 1rem;
  text-align: center;
}

.PlayerSelector {
  /* border: 2px solid yellow; */
  width: 97.5%;
  gap: 1.5rem;  
  padding: 1rem;
  display: flex; /* Change this to flex */
  justify-content: center; /* Add this line to center the items horizontally */
  align-items: center; /* Add this line to center the items vertically */
  flex-wrap: wrap;
  overflow: auto;
}

.player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25rem;
  height: 23rem;
  border: 2px solid white;
  background-color: #2c3e50; /* Dark blue */
  color: #ecf0f1; /* Light gray */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Shadow for 3D effect */
  transition: transform 0.3s ease-in-out; /* Smooth transform transition */
}

.player img {
  align-items: center;
  width: 90%;
}

.player:hover {
  transform: scale(1.05); /* Slightly enlarge the player div on hover */
}

.player > p {
  margin-top: 3rem;
  font-size: 1rem;
  color: #bdc3c7; /* Lighter gray for contrast */
}


