body{
  overflow: hidden;
}
.teamSelectorDiv {
  position: relative;
  /* border: 2px solid yellow; */
  width: 96.5%;
  height: 72.4rem;
  display: flex;
  flex-direction: row;
  gap: 10rem;
  padding: 2rem;
}

.teamDiv {
  position: absolute;
  top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid yellow; */
  width: 50rem;
  height: 40rem;
  position: relative; /* Add position relative to .3dmodel to position the text relative to it */
}

.teamDiv > img {
  width: 40rem;
  height: auto;
}

#ctModel > img {
  height: 36rem;
}

/* Define styles for the text */
.teamDivText {
  position: absolute;
  top: 45%; /* Position the text in the middle vertically */
  left: 50%; /* Position the text in the middle horizontally */
  transform: translate(-50%, -50%); /* Center the text precisely */
  text-align: center;
  width: 40rem;
  height: auto;
  font-size: 2rem;
  color: white;
  opacity: 0; /* Initially fully transparent */
  transition: opacity 0.3s ease; /* Add transition effect for opacity change */
}

.teamDiv:hover .teamDivText {
  opacity: 1; /* Change opacity to make text visible */
}

.teamDiv:hover > img {
  width: 45rem;
  height: auto;
  opacity: 0.5;
}

#ctModel:hover > img {
  height: 45rem;
}

#autobtn {
  font-family: myFirstFont;
  position: absolute;
  top: 68%;
  left: 35%;
  width: 35rem;
  height: 4.5rem;
  padding: 10px 20px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #333;
  border-radius: 5px;
  background-color: #eee;
  color: #333;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

#autobtn:hover {
  transform: scale(1.15); /* Add scale effect on hover */
}
